<!--include header-->
<%- include('include/_header') %>
<!--/include header-->

<main id="site-main">
    <div class="container">
    <div class="box-nav d-flex justify-between">
        <a href="/add-user" class="border-shadow">
            <span class="text-gradie">New Test Suite<i class="fa-sharp fa-solid fa-user"></i></span>
        </a>

    </div>
    <!-- Form Handling-->
    <form action="/" method="POST">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Test Suite</th>
                <th>Test Case</th>
                <th>Test Steps</th>
                <th>Status</th>
                <th>Action</th>
            </tr>

        </thead>
        <tbody>

            <%- include('include/_show')%>
           
        </tbody>
    </table>
</form>
    </div>
</main>

<!--include footer-->
<%- include('include/_footer')%>
<!--/include footer-->
    
    
